<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <header class="page-header"><h3>Forms</h3></header>
    <div class="table-responsive">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a>Forms</a></li>
            <li role="presentation"><a href="#/fields">Fields</a></li>
        </ul>
        <form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span>
                            Form Name</th>
                        <th><span class="pull-right">
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                            Action</span></th>
                    </tr>
                    <tr>
                        <th><input type="text" class="form-control" id="inputFormName"
                                   placeholder="name"></th>
                        <th><span class="pull-right">
                            <button type="submit" name="add"
                                    class="btn btn-default glyphicon glyphicon-plus">
                            </button>
                            <button type="submit" name="update"
                                    class="btn btn-default glyphicon glyphicon-ok"></button>
                        </span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td-middle"><a href="#/fields">
                            Registration Form</a></td>
                        <td><span class="pull-right">
                            <button type="submit" name="remove"
                                    class="btn btn-default glyphicon glyphicon-remove">
                            </button>
                            <button type="submit" name="edit"
                                    class="btn btn-default glyphicon glyphicon-pencil">
                            </button>
                        </span></td>
                    </tr>
                    <tr>
                        <td class="td-middle"><a href="#/fields">
                            Contact List</a></td>
                        <td><span class="pull-right">
                            <button type="submit" name="remove"
                                    class="btn btn-default glyphicon glyphicon-remove">
                            </button>
                            <button type="submit" name="edit"
                                    class="btn btn-default glyphicon glyphicon-pencil">
                            </button>
                        </span></td>
                    </tr>
                    <tr>
                        <td class="td-middle"><a href="#/fields">
                            To Do List</a></td>
                        <td><span class="pull-right">
                            <button type="submit" name="remove"
                                    class="btn btn-default glyphicon glyphicon-remove">
                            </button>
                            <button type="submit" name="edit"
                                    class="btn btn-default glyphicon glyphicon-pencil">
                            </button>
                        </span></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
