/*
 * Bootstrap overrides for dashboard.css.
 */
@media (min-width: 768px) {
    .form-horizontal .control-label.control-label-left {
        text-align: left;
    }
}

.table > tbody > tr > td.td-middle {
    vertical-align: middle;
}

.table > tbody > tr > td.td-no-border,
.table > tfoot > tr > td.td-no-border {
    border: 0;
}

.table > tbody > tr > td > hr.thick-border,
.table > tfoot > tr > td > hr.thick-border {
    border-top: 2px black solid;
}

/* Allows for width of inputs in tables to be appropriately responsive. */
.table .form-control {
    width: auto;
}

.no-link {
    cursor: pointer;
}
