/*
 * Bootstrap overrides.
 */
@media (min-width: 768px) {
    .form-horizontal .control-label.control-label-left {
        text-align: left;
    }
}

.table > tbody > tr > td.td-middle {
    vertical-align: middle;
}

/* Allows for width of inputs in tables to be appropriately responsive. */
.table input.form-control {
    width: auto;
}
