<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <header class="page-header"><h3>Forms : Registration Form</h3></header>
    <div class="table-responsive">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="#/forms">Forms</a></li>
            <li role="presentation" class="active"><a>Fields</a></li>
        </ul>
        <form>
            <table class="table">
                <tbody>
                    <tr><td class="td-no-border">
                        <label for="inputLastName"
                               class="control-label control-label-left">
                        First Name:</label>
                    </td></tr>
                    <tr>
                        <td class="td-no-border">
                            <input type="text" class="form-control" id="inputFirstName"
                                   placeholder="First Name"></td>
                        <td class="td-no-border pull-right">
                            <button type="submit" name="edit"
                                    class="btn btn-default glyphicon glyphicon-pencil">
                            </button>
                            <button type="submit" name="add"
                                    class="btn btn-default glyphicon glyphicon-plus">
                            </button>
                            <button type="submit" name="remove"
                                    class="btn btn-default glyphicon glyphicon-remove">
                            </button>
                            <button type="submit" name="arrange"
                                    class="btn btn-default glyphicon glyphicon-align-justify">
                            </button>
                        </td>
                    </tr>
                    <tr><td class="td-no-border">
                        <label for="inputLastName"
                               class="control-label control-label-left">
                        Last Name:</label>
                    </td></tr>
                    <tr>
                        <td class="td-no-border">
                            <input type="text" class="form-control" id="inputLastName"
                                   placeholder="Last Name"></td>
                        <td class="td-no-border pull-right">
                            <button type="submit" name="edit"
                                    class="btn btn-default glyphicon glyphicon-pencil">
                            </button>
                            <button type="submit" name="add"
                                    class="btn btn-default glyphicon glyphicon-plus">
                            </button>
                            <button type="submit" name="remove"
                                    class="btn btn-default glyphicon glyphicon-remove">
                            </button>
                            <button type="submit" name="arrange"
                                    class="btn btn-default glyphicon glyphicon-align-justify">
                            </button>
                        </td>
                    </tr>
                    <tr><td class="td-no-border">
                        <label for="inputDOB"
                               class="control-label control-label-left">
                        Date of Birth:</label>
                    </td></tr>
                    <tr>
                        <td class="td-no-border">
                            <input type="date" class="form-control" id="inputDOB">
                        </td>
                        <td class="td-no-border pull-right">
                            <button type="submit" name="edit"
                                    class="btn btn-default glyphicon glyphicon-pencil">
                            </button>
                            <button type="submit" name="add"
                                    class="btn btn-default glyphicon glyphicon-plus">
                            </button>
                            <button type="submit" name="remove"
                                    class="btn btn-default glyphicon glyphicon-remove">
                            </button>
                            <button type="submit" name="arrange"
                                    class="btn btn-default glyphicon glyphicon-align-justify">
                            </button>
                        </td>
                    </tr>
                    <tr><td class="td-no-border">
                        <label for="inputGender"
                               class="control-label control-label-left">
                        Gender:</label>
                    </td></tr>
                    <tr>
                        <td class="td-no-border">
                            <select class="form-control" id="inputGender">
                                <option selected>Male</option>
                                <option>Female</option>
                            </select>
                        </td>
                        <td class="td-no-border pull-right">
                            <button type="submit" name="edit"
                                    class="btn btn-default glyphicon glyphicon-pencil">
                            </button>
                            <button type="submit" name="add"
                                    class="btn btn-default glyphicon glyphicon-plus">
                            </button>
                            <button type="submit" name="remove"
                                    class="btn btn-default glyphicon glyphicon-remove">
                            </button>
                            <button type="submit" name="arrange"
                                    class="btn btn-default glyphicon glyphicon-align-justify">
                            </button>
                        </td>
                    </tr>
                    <tr><td class="td-no-border">
                        <label class="control-label control-label-left">
                        Roles:</label>
                    </td></tr>
                    <tr>
                        <td class="td-no-border">
                            <div class="checkbox">
                                <label for="inputRoleAdmin">
                                    <input type="checkbox" id="inputRoleAdmin"> Admin
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="inputRoleStudent">
                                    <input type="checkbox" id="inputRoleStudent"> Student
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="inputRoleUser">
                                    <input type="checkbox" id="inputRoleUser"> User
                                </label>
                            </div>
                        </td>
                        <td class="td-no-border pull-right">
                            <button type="submit" name="edit"
                                    class="btn btn-default glyphicon glyphicon-pencil">
                            </button>
                            <button type="submit" name="add"
                                    class="btn btn-default glyphicon glyphicon-plus">
                            </button>
                            <button type="submit" name="remove"
                                    class="btn btn-default glyphicon glyphicon-remove">
                            </button>
                            <button type="submit" name="arrange"
                                    class="btn btn-default glyphicon glyphicon-align-justify">
                            </button>
                        </td>
                    </tr>
                    <tr><td class="td-no-border">
                        <label class="control-label control-label-left">
                        License Agreement:</label>
                    </td></tr>
                    <tr>
                        <td class="td-no-border">
                            <div class="radio">
                                <label for="inputLicenseYes">
                                    <input type="radio" name="license" id="inputLicenseYes">
                                    Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label for="inputLicenseNo">
                                    <input type="radio" name="license" id="inputLicenseNo">
                                    No
                                </label>
                            </div>
                        </td>
                        <td class="td-no-border pull-right">
                            <button type="submit" name="edit"
                                    class="btn btn-default glyphicon glyphicon-pencil">
                            </button>
                            <button type="submit" name="add"
                                    class="btn btn-default glyphicon glyphicon-plus">
                            </button>
                            <button type="submit" name="remove"
                                    class="btn btn-default glyphicon glyphicon-remove">
                            </button>
                            <button type="submit" name="arrange"
                                    class="btn btn-default glyphicon glyphicon-align-justify">
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr><td colspan="2" class="td-no-border">
                        <hr class="thick-border">
                    </td></tr>
                    <tr><td class="td-no-border">
                        <label for="inputNewField"
                               class="control-label control-label-left">
                        Add New Field:</label></td></tr>
                    <tr>
                        <td class="td-no-border">
                            <select class="form-control" id="inputNewField">
                                <option selected>Single Line Text</option>
                                <option>Date</option>
                                <option>Dropdown</option>
                                <option>Checkboxes</option>
                                <!-- buttons is lowercase in the assignment prompt, but that
                                seems like a typo so I chose to capitalize it -->
                                <option>Radio Buttons</option>
                                <option>Paragraph Text Fields</option>
                            </select>
                        </td>
                        <td class="td-no-border pull-right">
                            <button type="submit" name="add"
                                    class="btn btn-default glyphicon glyphicon-plus">
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>
