
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <header class="page-header">
        <h3>Admin</h3>
        <h4>Users</h4>
    </header>
    <div class="table-responsive">
        <div class="alert alert-danger input-text alert-text" ng-if="adminVm.error">
            {{adminVm.error}}
        </div>
        <form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        <span ng-click="adminVm.orderByField='username'; adminVm.reverseSort = !adminVm.reverseSort">
                            <span ng-show="adminVm.orderByField == 'username'">
                                <span ng-show="!adminVm.reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-show="adminVm.reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                            </span>
                            Username
                        </span>
                    </th>
                    <th>Password</th>
                    <th>
                        <span ng-click="adminVm.orderByField='firstName'; adminVm.reverseSort = !adminVm.reverseSort">
                            <span ng-show="adminVm.orderByField == 'firstName'">
                                <span ng-show="!adminVm.reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-show="adminVm.reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                            </span>
                            First Name
                        </span>
                    </th>
                    <th>
                        <span ng-click="adminVm.orderByField='lastName'; adminVm.reverseSort = !adminVm.reverseSort">
                            <span ng-show="adminVm.orderByField == 'lastName'">
                                <span ng-show="!adminVm.reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-show="adminVm.reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                            </span>
                            Last Name
                        </span>
                    </th>
                    <th>Roles</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <td><input ng-model="adminVm.newUser.username" type="text" class="form-control" id="inputUsername"
                           placeholder="username"></td>
                <td><input ng-model="adminVm.newUser.password" type="password" class="form-control" id="inputPassword"
                           placeholder="password"></td>
                <td><input ng-model="adminVm.newUser.firstName" type="text" class="form-control" id="inputFirstName"
                           placeholder="First Name"></td>
                <td><input ng-model="adminVm.newUser.lastName" type="text" class="form-control" id="inputLastName"
                           placeholder="Last Name"></td>
                <td><input ng-model="adminVm.newUser.roles" type="text" class="form-control" id="inputRole"
                           placeholder="Role 1, Role 2"></td>
                <td>
                    <div ng-click="adminVm.addUser(adminVm.newUser)"
                         class="btn btn-default glyphicon glyphicon-plus"></div>
                    <div ng-click="adminVm.updateUser(adminVm.newUser)"
                         class="btn btn-default glyphicon glyphicon-ok"></div>
                </td>
                </tr>
                <tr>
                <tr ng-repeat="user in adminVm.users|orderBy:adminVm.orderByField:adminVm.reverseSort">
                    <td>{{user.username}}</td>
                    <td></td> <!-- Empty row for passwords. -->
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.roles}}</td>
                    <td>
                        <div ng-click="adminVm.deleteUser($index)"
                             class="btn btn-default glyphicon glyphicon-remove"></div>
                        <div ng-click="adminVm.selectUser($index)"
                             class="btn btn-default glyphicon glyphicon-cog"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
