<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="ProfileController">
    <header class="page-header"><h3>Profile</h3></header>
    Username: {{ user.username }}
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label control-label-left">
                Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword"
                       placeholder="Password" ng-model="user.password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputFirstName" class="col-sm-2 control-label control-label-left">
                First Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputFirstName"
                       placeholder="{{user.firstName}}" ng-model="user.firstName">
            </div>
        </div>
        <div class="form-group">
            <label for="inputLastName" class="col-sm-2 control-label control-label-left">
                Last Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputLastName"
                       placeholder="{{user.lastName}}" ng-model="user.lastName">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label control-label-left">
                Email:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail"
                       placeholder="{{user.email}}" ng-model="user.email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" ng-click="update(user)">Update</button>
            </div>
        </div>
    </form>
</div>
