<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="thot-message">
                <h2>New Message</h2>
            </div>
            <hr class="thot-divider">
            <form class="form-horizontal">
                <ul class="thot-list">
                    <li ng-if="createMessageVm.error">
                        <div class="alert alert-danger thot-text alert-text">
                            {{createMessageVm.error}}
                        </div>
                    </li>
                    <li>
                        <input type="text" class="form-control thot-text" placeholder="Subject"
                               ng-model="subject">
                    </li>
                    <li>
                        <textarea class="form-control thot-text thot-text-area" ng-model="text">
                        </textarea>
                    </li>
                    <li>
                        <a class="btn btn-default"
                           ng-click="createMessageVm.createMessage(subject, text)">Send</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>