<div class="content-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content-message">
                    <img class="content-detail-src" src="{{currentContent.src}}">
                    <form class="form-horizontal">
                        <ul class="content-input-list">
                            <li ng-if="detailContentVm.error">
                                <div class="alert alert-danger content-text alert-text">
                                    {{detailContentVm.error}}
                                </div>
                            </li>
                            <li ng-if="detailContentVm.success">
                                <div class="alert alert-success content-text alert-text">
                                    {{detailContentVm.success}}
                                </div>
                            </li>

                            <!-- REVIEW LOGIC -->
                            <li ng-if="!detailContentVm.ownsContent()">
                                <!-- FIXME(bobby): prettier UI to add ratings -->
                                <select ng-model="detailContentVm.newRating">
                                    <option ng-repeat="i in detailContentVm.range(10) track by $index"
                                            value="{{$index + 1}}">
                                        {{$index + 1}}
                                    </option>
                                </select>
                                <a class="btn btn-default"
                                   ng-model="detailContentVm.newRating"
                                   ng-click="detailContentVm.review(detailContentVm.newRating)"
                                   ng-if="!detailContentVm.userReview"> Add Review
                                </a>
                                <a class="btn btn-default"
                                   ng-model="detailContentVm.newRating"
                                   ng-click="detailContentVm.updateReview(detailContentVm.newRating)"
                                   ng-if="detailContentVm.userReview"> Update Review
                                </a>
                                <a class="btn btn-default"
                                   ng-click="detailContentVm.removeReview()"
                                   ng-if="detailContentVm.userReview"> Remove Review
                                </a>
                            </li>
                            <li ng-if="detailContentVm.rating">
                                <span ng-repeat="i in detailContentVm.range(detailContentVm.rating) track by $index"
                                      class="glyphicon glyphicon-heart full-heart"></span>
                                <span ng-repeat="i in detailContentVm.range(10 - detailContentVm.rating) track by $index"
                                      class="glyphicon glyphicon-heart empty-heart"></span>
                                ({{detailContentVm.numRatings}})
                            </li>
                            <li ng-if="!detailContentVm.rating">
                            No ratings yet.
                            </li>
                            <!-- /REVIEW LOGIC -->

                            <!-- TAG LOGIC -->
                            <li>
                                <ul>
                                    <li class="tag-list"
                                        ng-repeat="tag in detailContentVm.tags track by $index">
                                        <a class="btn"><span ng-click="detailContentVm.removeTag($index)"
                                              ng-if="detailContentVm.ownsTag($index) || detailContentVm.ownsContent()"
                                              class="glyphicon glyphicon-remove"></span>
                                            {{tag.name}}</a>
                                    </li>
                                    <li class="tag-list">
                                        <input type="text" class="form-control form-control-inline"
                                               id="inputTag" placeholder="Enter New Tag"
                                               ng-model="newTag">
                                        <a ng-click="detailContentVm.tag(newTag)" class="btn">
                                            <span class="glyphicon glyphicon-plus"></span></a>
                                    </li>
                                </ul>
                            </li>
                            <!-- /TAG LOGIC -->

                            <li>
                                <ul><li class="comment-list"
                                        ng-repeat="comment in currentContent.comments track by $index">
                                    {{comment}}</li></ul>
                                <input type="text" class="form-control content-text"
                                       id="inputComment" placeholder="Enter New Comment"
                                       ng-model="newComment">
                                <a class="btn btn-default"
                                   ng-click="detailContentVm.comment(newComment)">Comment</a>
                            </li>
                            <li>
                                <a class="btn btn-default"
                                   ng-if="detailContentVm.ownsContent()"
                                   ng-click="detailContentVm.deleteContent()">
                                    <span class="account-name">Delete</span>
                                </a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
