<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div><a href="#/profile"><span></span></a></div>
            <div class="content-message">
                <h2>Your Content</h2>
            </div>
            <hr class="content-divider">
            <div ng-repeat="content in myContentVm.contentList track by $index">
                <a href="#/content" class="img-wrap" ng-click="myContentVm.selectContent($index)">
                    <img class="content-src" ng-src="{{content.src}}" ng-if="content.src"></a>
            </div>
        </div>
    </div>
</div>