<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Thots</h1>
                    <hr class="intro-divider">
                    <ul class="intro-social-buttons">
                        <li>
                            Sign up to share and discover photos without the hassles of social
                            media.
                        </li>
                        <li>
                            <a href="#/login" class="btn btn-default btn-lg">
                                <span class="account-name">Login</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/register" class="btn btn-default btn-lg">
                                <span class="account-name">Register</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/search" class="dropshadow underline account-link">
                                <span class="account-name">Continue Without Account</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->