<div class="profile-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="profile-message">
                    <h2>Profile Settings</h2>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="profile-message">
                    <h2>Your Content</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <hr class="profile-divider">
            </div>
            <div class="col-lg-4">
                <form class="form-horizontal">
                    <ul class="profile-input-list">
                        <li ng-if="profileVm.error">
                            <div class="alert alert-danger profile-text alert-text">
                                {{profileVm.error}}
                            </div>
                        </li>
                        <li ng-if="profileVm.success">
                            <div class="alert alert-success profile-text alert-text">
                                {{profileVm.success}}
                            </div>
                        </li>
                        <li>
                            <input type="text" class="form-control profile-text"
                                   id="inputFirstName" placeholder="{{user.firstName || 'First Name'}}"
                                   ng-model="updateInfo.firstName">
                        </li>
                        <li>
                            <input type="text" class="form-control profile-text"
                                   id="inputLastName" placeholder="{{user.lastName || 'Last Name'}}"
                                   ng-model="updateInfo.lastName">
                        </li>
                        <li>
                            <input type="email" class="form-control profile-text"
                                   id="inputEmail" placeholder="{{user.email || 'Email'}}"
                                   ng-model="updateInfo.email">
                        </li>
                        <li>
                            <input type="text" class="form-control profile-text"
                                   id="inputPhone" placeholder="{{user.phone || 'Phone'}}"
                                   ng-model="updateInfo.phone">
                        </li>
                        <li>
                            <input type="password" class="form-control profile-text"
                                   id="inputNewPassword" placeholder="New Password"
                                   ng-model="updateInfo.newPassword">
                        </li>
                        <li>
                            <input type="password" class="form-control profile-text"
                                   id="inputNewPassword2" placeholder="Repeat New Password"
                                   ng-model="updateInfo.newPassword2">
                        </li>
                        <li>
                            To make changes to your account, enter your current password below:
                        </li>
                        <li>
                            <input type="password" class="form-control profile-text"
                                   id="inputOldPassword" placeholder="Enter Current Password"
                                   ng-model="updateInfo.oldPassword">
                        </li>
                        <li>
                            <a class="btn btn-default btn-lg btn-profile"
                               ng-click="profileVm.update(updateInfo)">
                                <span class="account-name">Update Profile</span>
                            </a>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="col-lg-8 border-left" ng-controller="ContentController as contentVm">
                <table>
                    <tr><td>
                        <form class="form-horizontal">
                            <ul class="profile-input-list">
                                <li>
                                    <input type="text" class="form-control profile-text"
                                           id="inputSrc" placeholder="Image Source"
                                           ng-model="newContent.src">
                                </li>
                                <li>
                                    <input type="text" class="form-control profile-text"
                                           id="inputTag" placeholder="Tag1,Tag2,Tag3"
                                           ng-model="newContent.tag">
                                </li>
                                <li>
                                    <a class="btn btn-default btn-lg btn-profile"
                                       ng-click="contentVm.createContent(newContent)">Post</a>
                                </li>
                            </ul>
                        </form>
                    </td></tr>
                    <tr ng-repeat="content in contentVm.contentList track by $index">
                        <td><a href="#/content" ng-click="contentVm.selectContent($index)">
                            <img class="content-src" ng-src="{{content.src}}" ng-if="content.src"></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->