<div class="profile-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="profile-message">
                    <h2>Profile Settings</h2>
                </div>
                <hr class="profile-divider">
                <form class="form-horizontal">
                    <ul class="profile-input-list">
                        <li ng-if="profileVm.error">
                            <div class="alert alert-danger profile-text alert-text">
                                {{profileVm.error}}
                            </div>
                        </li>
                        <li ng-if="profileVm.success">
                            <div class="alert alert-success profile-text alert-text">
                                {{profileVm.success}}
                            </div>
                        </li>
                        <li>
                            <input type="text" class="form-control profile-text"
                                   id="inputFirstName" placeholder="{{user.obj.firstName || 'First Name'}}"
                                   ng-model="updateInfo.firstName">
                        </li>
                        <li>
                            <input type="text" class="form-control profile-text"
                                   id="inputLastName" placeholder="{{user.obj.lastName || 'Last Name'}}"
                                   ng-model="updateInfo.lastName">
                        </li>
                        <li>
                            <input type="email" class="form-control profile-text"
                                   id="inputEmail" placeholder="{{user.obj.email || 'Email'}}"
                                   ng-model="updateInfo.email">
                        </li>
                        <li>
                            <input type="text" class="form-control profile-text"
                                   id="inputPhone" placeholder="{{user.obj.phone || 'Phone'}}"
                                   ng-model="updateInfo.phone">
                        </li>
                        <li>
                            <input type="password" class="form-control profile-text"
                                   id="inputNewPassword" placeholder="New Password"
                                   ng-model="updateInfo.newPassword">
                        </li>
                        <li>
                            <input type="password" class="form-control profile-text"
                                   id="inputNewPassword2" placeholder="Repeat New Password"
                                   ng-model="updateInfo.newPassword2">
                        </li>
                        <li>
                            To make changes to your account, enter your current password below:
                        </li>
                        <li>
                            <input type="password" class="form-control profile-text"
                                   id="inputOldPassword" placeholder="Enter Current Password"
                                   ng-model="updateInfo.oldPassword">
                        </li>
                        <li>
                            <a class="btn btn-default btn-lg"
                               ng-click="profileVm.updateUser(updateInfo)">
                                <span class="account-name">Update Account</span>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-default btn-lg"
                               ng-click="profileVm.deleteUser(updateInfo)">
                                <span class="account-name">Delete Account</span>
                            </a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->